<div class="reservation-container">
  <h2 class="title">Reservation</h2>
  <form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
    <mat-card class="card">
      <mat-card-content class="card-content">
        <div class="form-field">
          <mat-label class="field-label">Name:</mat-label>
          <span class="field-value">{{ reservationForm.get('name').value }}</span>
        </div>

        <div class="form-field">
          <mat-label class="field-label">Email:</mat-label>
          <span class="field-value">{{ reservationForm.get('email').value }}</span>
        </div>

        <div class="form-field">
          <mat-label class="field-label">Check-in Date:</mat-label>
          <span class="field-value">{{ reservationForm.get('checkinDate').value | date }}</span>
        </div>

        <div class="form-field">
          <mat-label class="field-label">Check-out Date:</mat-label>
          <span class="field-value">{{ reservationForm.get('checkoutDate').value | date }}</span>
        </div>

        <div class="form-field">
          <mat-label class="field-label">Number of Guests:</mat-label>
          <span class="field-value">{{ reservationForm.get('guests').value }}</span>
        </div>
      </mat-card-content>
    </mat-card>
    <div class="button-group">
      <button mat-button class="back-button" type="button" (click)="goBack()">Back</button>
      <button mat-raised-button color="primary" class="submit-button" type="submit">Reserve</button>
    </div>
  </form>
</div>
