@import "~@angular/material/prebuilt-themes/indigo-pink.css"; /* Import a prebuilt theme */

.reservation-container {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', sans-serif;
}

.title {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
  color: #3f51b5;
}

form {
  display: flex;
  flex-direction: column;
}

.card {
  margin-bottom: 20px;
  border-radius: 15px;
  background-color: #f5f5f5;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e3f2fd;
  padding: 10px;
  border-radius: 10px;
}

.field-label {
  font-weight: bold;
  color: #3f51b5;
  flex-basis: 30%;
}

.field-value {
  background-color: #ffffff;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  flex-grow: 1;
  text-align: right;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.submit-button {
  width: 48%;
  padding: 12px 0;
  font-size: 1.2em;
  border-radius: 25px;
  background-color: #3f51b5;
  color: white;
}

.back-button {
  width: 48%;
  padding: 12px 0;
  font-size: 1.2em;
  border-radius: 25px;
  color: #3f51b5;
  border: 1px solid #3f51b5;
}
